* {
  margin: 0;
  padding: 0;
}

body {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  font-family: Arial, sans-serif;
}

input,
select {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 20px;
}

.error {
  color: red;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content {
  display: flex;
  margin: 30px 50px;
  flex-direction: column;
  height: 100vh;
}

.search-container {
  display: flex;
  width: 100%;
  background: #e3e3e3;
  gap: 20px;
  border: 15px solid #e3e3e3;
  box-sizing: border-box;
}

.custom-select {
  padding: 10px;
  width: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  outline: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-select:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.select-option {
  padding: 10px;
}

.search-input-container {
  display: flex;
  padding: 10px;
  gap: 10px;
  width: 100%;
  align-items: center;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
}

.search-text,
.search-text:focus {
  width: 100%;
  border: none;
  outline: none;
}

.main-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.table-container {
  width: 100%;
  flex: 1;
  margin-left: 15px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table td {
  padding: 12px 15px;
  text-align: left;
  background: white;
  border-bottom: 1px solid #ddd;
}

.custom-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.description-container {
  padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 850px) {
  .content {
    margin: 10px;
  }

  .main-content {
    flex-direction: column;
  }
  hr {
    display: none;
  }

  .table-container {
    flex-wrap: wrap;
    margin: 0;
    flex: none;
  }

  .description-container {
    padding: 20px 10px;
    gap: 10px;
    flex: none;
    flex-wrap: wrap;
    margin: 0;
  }
}

@media (max-width: 400px) {
  .search-container {
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
  }
}
